$foundation-palette: (
    primary: #ff5252,
    secondary: #2b2d3c,
    success: #29a365,
    warning: #f4b400,
    alert: #ff5252
);

$light-gray: #f2f2f2;
$medium-gray: #d4d4d4;
$dark-gray: #8a8a8a;
$black: #2b2d3c;
$white: #fbfbfb;

$body-font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
$header-font-family: Poppins, Helvetica, Arial, Verdana, sans-serif;
$font-family-monospace: 'Fira Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;
$header-font-weight: 700;

$topbar-unstack-breakpoint: small;
$menu-items-padding: .5rem 1rem;


$hljs-background: $black;
$hljs-color: $white;
$hljs-comment-color: $medium-gray;
$hljs-keyword-color: $light-gray;
$hljs-var-color: map-get($foundation-palette, success);
$hljs-string-color: map-get($foundation-palette, primary);
$hljs-selector-color: map-get($foundation-palette, primary);
$hljs-class-color: $medium-gray;
$hljs-tag-color: $medium-gray;
$hljs-regex-color: map-get($foundation-palette, primary);
$hljs-symbol-color: map-get($foundation-palette, primary);
$hljs-meta-color: $medium-gray;
$hljs-plus-color: map-get($foundation-palette, success);
$hljs-minus-color: map-get($foundation-palette, danger);
