$foundation-palette: (
    primary: #ff5252,
    secondary: #2b2d3c,
    success: #29a365,
    warning: #f4b400,
    alert: #ff5252
);

$light-gray: #f2f2f2;
$medium-gray: #d4d4d4;
$dark-gray: #8a8a8a;
$black: #2b2d3c;
$white: #fbfbfb;

$body-font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
$header-font-family: Poppins, Helvetica, Arial, Verdana, sans-serif;
$font-family-monospace: 'Fira Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;
$header-font-weight: 700;


$header-styles: (
        small: (
                'h1': ('font-size': 24),
                'h2': ('font-size': 20),
                'h3': ('font-size': 19),
                'h4': ('font-size': 18),
                'h5': ('font-size': 17),
                'h6': ('font-size': 16),
        ),
        medium: (
                'h1': ('font-size': 48),
                'h2': ('font-size': 36),
                'h3': ('font-size': 28),
                'h4': ('font-size': 24),
                'h5': ('font-size': 20),
                'h6': ('font-size': 16),
        ),
);

$card-margin-bottom: 0;
$menu-items-padding: .5rem 1rem;
$topbar-unstack-breakpoint: small;

$button-radius: 2em;
$button-padding: .85em 2em;
$button-background-hover: map-get($foundation-palette, secondary);


$hljs-background: $black;
$hljs-color: $white;
$hljs-comment-color: $medium-gray;
$hljs-keyword-color: $light-gray;
$hljs-var-color: map-get($foundation-palette, success);
$hljs-string-color: map-get($foundation-palette, primary);
$hljs-selector-color: map-get($foundation-palette, primary);
$hljs-class-color: $medium-gray;
$hljs-tag-color: $medium-gray;
$hljs-regex-color: map-get($foundation-palette, primary);
$hljs-symbol-color: map-get($foundation-palette, primary);
$hljs-meta-color: $medium-gray;
$hljs-plus-color: map-get($foundation-palette, success);
$hljs-minus-color: map-get($foundation-palette, danger);
